<div class="user-tracks">
  <div class="row track" data-source-id="<%= @track.source_id %>" data-track-id="<%= @track.id %>">
    <div class="small-2 columns padded-column">
      <img src="<%= @track.artwork_url %>"/></li>
    </div>
    <div class="small-offset-1 small-8 columns padded-column">
      <p><%= @track.title %></p>
      <p> By: <%= @track.artist %> </p>
      <p>About this Track:<%= @track.description %></p>
      <p>Length: <%= @track.duration %></p>
    </div>
  </div>
  <div class="row">
    <p>Posted By: <%= User.find(@track.user_id).first_name %></p>
  </div>
</div>
<p> Snippets made from this track </p>
  <div class='user-snippets'>
      <% @track.snippets.most_recent.each do |snippet| %>
      <%= render :partial => 'snippets/snippet', :locals => {:snippet => snippet} %>
      <% end %>
  </div>
