<div class="row">

</div>

<ul class="small-block-grid-3">
  <li class="follow_div_1"><a href="<%= followers_user_path(@user) %>">
  <%= @user.followers.count %> Followers</p></a></li>
  <li class="username"><%= @user.full_name %></li>
  <li class="follow_div_2"><a href="<%= following_user_path(@user) %>">
  <%= @user.following.count %> Following</a>
  </li>
</ul><br><br><br>

<ul class="small-block-grid-3">
  <li><%= image_tag (@user.profile_img_url), :class => "profile_image" %></li>
  <li class="connect"><%= render :partial => 'soundcloud/connect' %></li>
  <li><img class="follow" src="<%= asset_path('follow.png') %>"  data-user-id="<%= @user.id %>"></li>
</ul><br><br>

<div class='user-tracks'>
  <% @user.tracks.each do |track| %>
    <%= render :partial => 'tracks/track', :locals => {:track => track} %>
  <% end %>
</div>

