<%= image_tag @user.profile_img_url %>

<%= @user.full_name %>
<a href="<%= following_user_path(@user) %>">
<p><%= @user.following.count %> Following

<%= render :partial => 'soundcloud/connect' %>

<div id='pause'>PAUSE~</div>
<div id='snip'>SNIPPET~</div>
<a href="<%= followers_user_path(@user) %>">
<%= @user.followers.count %> Followers</p>

<%= render 'follow_form'%>
<div class='user-tracks'>
  <% if !@user.tracks.empty? %>
    <% @user.tracks.each do |track| %>
      <div class='track'>
        <img id="<%= track.source_id %>" src="<%= track.artwork_url %>">
      </div>
    <% end %>
  <% else %>
    <h3>You haven't made any tracks yet</h3>
  <% end %>
</div>

<div class='user-snippets'>
  <% if !@user.snippets.empty? %>
    <% @user.snippets.each do |snippet| %>
      <div class='snippet'>
        <p>A Snippet from <%= snippet.original_creator.full_name %></p>
        <img src="<%= snippet.track.artwork_url %>">
      </div>
    <% end %>
  <% else %>
    <h3>You haven't made any snippets yet</h3>
  <% end %>
</div>
