<meta property='og:url' content='http://stere-o-gram.herokuapp.com/'>
<meta property='og:title' content='Stereogram'>
<meta property='og:description' content='Stereogram is a platform to share and interact with audio. Listeners are encouraged to generate snippets of what they thought was the most interesting piece of a track. The point of a Snippet is to provide a potential listener a short burst of exposure to a full track. A taste of something bigger.'>
<meta property='og:image' content="<%= asset_path('logo_yellow.png') %>">

<div class="wrapper">
    <div class="about-us">
      <%= image_tag 'qmark.png' %>
      <p>
      Stereogram is a platform to share and interact with audio.<br>
      Listeners are encouraged to generate snippets of what they<br>
      thought was the most interesting piece of a track.<br>
      The point of a Snippet is to provide a potential listener<br>
      a short burst of exposure to a full track.<br>
      A taste of something bigger.
      </p>
    </div>
    <div class="stere"><%= image_tag 'stere.png' %></div>
    <div class="gram"><%= image_tag 'gram.png' %></div>
    <div class="center-o">
      <%= image_tag 'O.png' %>
      <div class="login-content">
        <div class="login">
          <h3>Welcome</h3>
          <p><%= render "devise/shared/links" %></p>
        </div>
    </div>
  </div>
</div>


