<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property='og:url' content='http://stere-o-gram.herokuapp.com/'>
    <meta property='og:title' content='Stereogram'>
    <meta property='og:description' content='Stereogram is a platform to share and interact with audio. Listeners are encouraged to generate snippets of what they thought was the most interesting piece of a track. The point of a Snippet is to provide a potential listener a short burst of exposure to a full track. A taste of something bigger.'>
    <meta property='og:image' content="http://stere-o-gram.herokuapp.com<%= asset_path('logo_yellow.png') %>">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>Stereogram</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'http://connect.soundcloud.com/sdk.js'%>
    <%= csrf_meta_tags %>
  </head>


  <body>

        <%= yield %>


  <%= javascript_include_tag "application" %>
</body>
</html>
