<div class="widget">
  <div id="player">
    <img class="O" src="<%= asset_path('O.png') %>" >
  </div>

<img id="soundplayer-widget-picture" src="<%= asset_path('sg.png') %>">

<img class="icon play" src="<%= asset_path('play.png') %>" >
<img class="icon stop" src="<%= asset_path('stop.png') %>" >
<img class="icon next" src="<%= asset_path('next.png') %>" >
<img class="icon previous" src="<%= asset_path('previous.png') %>" >
<img class="icon snip" id="snip" src="<%= asset_path('snip.png') %>" >

<img class="icon play yellow" src="<%= asset_path('play_yellow.png') %>" >
<img class="icon stop yellow" src="<%= asset_path('stop_yellow.png') %>" >
<img class="icon next yellow" src="<%= asset_path('next_yellow.png') %>" >
<img class="icon previous yellow" src="<%= asset_path('previous_yellow.png') %>" >
<img class="icon snip yellow" id="snip" src="<%= asset_path('snip_yellow.png') %>" >
</div>
