<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'http://connect.soundcloud.com/sdk.js'%>
    <%= csrf_meta_tags %>
  </head>


  <body>
      <div class="row">
        <div class="small-2 columns">
          <%= render 'layouts/navigation_side' %>
        </div>
        <div class="small-5 columns left">
          PLAYER GOES HERE
        </div>
        <div class="small-5 columns right">
          <%= yield %>
        </div>
      </div>


      <div class="row">
  <div class="small-12 medium-4 columns">
    <div class="panel">
      <%= render 'layouts/navigation_side' %>
    </div>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="panel">

    </div>
    <div class="panel">
      PLAYER GOES HERE
    </div>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="panel">
      <%= yield %>
    </div>
  </div>
</div>



  <%= javascript_include_tag "application" %>
</body>
</html>
